---
layout: archive
title: "Teaching Experience"
permalink: /teaching/
author_profile: true
---

{% for post in site.teaching reversed %}

  <div class="list__item">
    <article class="archive__item">

      <h2 class="archive__item-title">
        {{ post.title }}
      </h2>

      <p>
        {{ post.type }},
        <em>{{ post.venue }}</em>,
        {{ post.date | date: "%Y" }}
      </p>

      {% if post.excerpt %}
        <div class="archive__item-excerpt">
          {{ post.excerpt | markdownify }}
        </div>
      {% endif %}

    </article>
  </div>

{% endfor %}
